

<!doctype html>
{%load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{%static 'css/website.css'%}">



    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>project</title>



  </head>
  <body>
<div class="website">
<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand" href="#">Prsoftwares</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav  m-auto my-2 my-lg-0 ">
        <li class="nav-item">
          <a class="nav-link " href="{%url 'home'%}" target="_blank" style="color:blue;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{%url 'contact'%}" target="_blank" style="color: blue;">contact us</a>
        </li>
        <li class="nav-item ">
        	<a class="nav-link" href="{%url 'course'%}" target="_blank" style="color:blue;">courses</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class=" px-2 search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn0" type="submit" ><a class="search" href="{%url 'search'%}" target="_blank">search
        </a></button>
      </form>
    </div>
  </div>
</nav>
        <section class="main" >
	        <div class="container1">
		        <div class="row">
			         <div class="col-lg-7">
			         <h1 class="text">Level Up Your Coding Skills With Prsoftwares....!!!</h1>
			         <button class="btn1" ><a  class="readmore" href="{%url 'readmore'%}" target="_blank">read more</a></button>
			        </div>
		        </div>
	        </div>
	    </section>

<!-- <============================> -->

			<div class="card mb-3" style="max-width: 900px;margin-left: 210px;">
  <div class="row g-0">
    <div class="col-md-4">
        <img src="{%static 'images/img.png'%}">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="background-color: lightgoldenrodyellow;">
        <h5 class="card-title">Best software training institute in hyderabad</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.fhriwmflsuhe guhwre dslh ljdfl jlas'dfdamfddkmfLorem ipsum dolor sit amet, consectetur adipiscinglas'dfdamfddkmfLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Except This content is a little bit longer.</p>
        <p class="card-text"><button class="btn2"><a class="read" href="{%url 'read'%}" target="_blank" h>read more</a></button>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <==========================> -->
	<h3 style="text-align: center; color:orange;">Why Join PR Softwares</h3>
	<li style="text-align: center; color:purple;">Our unique feature is experiential learning through which one develops knowledge, skills, and values from the direct experience apart from traditional academic training.</li>
<div class="format">
  <div class="row g-2">
    <div class="col-6">


      <div class="p-3 border " style="color: blue; background-color: lightpink;"><img src="{%static 'images\logo.jpg'%}" class="logo">DEDICATED TEAM OF EXPERT</div>
    </div>
    <div class="col-6">
      <div class="p-3 border"style="color: blue; background-color: lightgreen;" ><img src="{%static 'images\logo1.jpg'%}" class="logo1">CERTIFIED COURSES</div>
    </div>
    <div class="col-6">
      <div class="p-3 border "style="color: blue; background-color: lightgreen;"><img src="{%static 'images\loog2.png'%}" class="logo2"><20000+ STUDENTS TRAINED TILL NOW</div>
    </div>
    <div class="col-6">
      <div class="p-3 border" style="color: blue; background-color: lightpink;"><img src="{%static 'images\logo4.png'%}" class="logo4">100% PRACTICAL CLASSES WITH LAB FACILITY</div>
    </div>
  </div>
  <div class="row g-2">
    <div class="col-6">


      <div class="p-3 border "style="color: blue; background-color: lightpink;"><img src="{%static 'images/logo5.jpg'%}" class="logo5">INDUSTRY EXPERT TRAINER</div>

    </div>
    <div class="col-6">
      <div class="p-3 border " style="color: blue; background-color: lightgreen;"><img src="{%static 'images\logo6.png'%}" class="logo6">HIGH RATE OF PLACEMENT</div>
    </div>
    <div class="col-6">
      <div class="p-3 border "style="color: blue; background-color: lightgreen;"><img src="{%static 'images\logo7.png'%}" class="logo7">20+ COURSES AT ONE PLATFORM</div>
    </div>
    <div class="col-6">
      <div class="p-3 border "style="color: blue; background-color: lightpink;"><img src="{%static 'images\log.png'%}" class="logo8">PROJECT LEVEL TRAINING</div>
    </div>
  </div>
</div>
<!-- <=====================> -->
	<div class="text">
		<p class="text-decoration-underline">SOFTWARE TRAINING COURSES BY PRSOFTWARE</p>
		<p>Do you want to learn programming languages? Many students are nowadays looking forward to learning C, C++, Java, Python, Data Science during and after their graduation. Enrol now with the best software training institute in Hyderabad, PR Softwares.</p>
	</div>


	<!-- <========================> -->
	<div class="card-group">
  <div class="card">
    <img src="{%static 'images/code3.png'%}" class="image1" alt="...">
    <div class="card-body">
      <h5 class="card-title">java</h5>
    </div>
  </div>
  <div class="card">
    <img src="{%static 'images/code.png'%}" class="image2" alt="...">
    <div class="card-body">
      <h5 class="card-title">python</h5>
    </div>
  </div>
  <div class="card">
    <img src="{%static 'images/code1.png'%}" class="image3" alt="...">
    <div class="card-body">
      <h5 class="card-title">Html</h5>
    </div>
  </div>
  <div class="card">
    <img src="{%static 'images/code5.png'%}" class="image4" alt="...">
    <div class="card-body">
      <h5 class="card-title">C lang</h5>
    </div>
  </div>
</div>




<div class="card-group">
  <div class="card">
    <img src="{%static 'images\533396_4934_4.jpg'%}" class="image5">
    <div class="card-body">
      <h5 class="card-title">C++ lang</h5>
    </div>
  </div>
  <div class="card">
    <img src="{%static 'images\code9.png'%}" class="image6" alt="...">
    <div class="card-body">
      <h5 class="card-title">Django</h5>
    </div>
  </div>
  <div class="card">
    <img src="{%static 'images\code7.jpg'%}" class="image7" alt="...">
    <div class="card-body">
      <h5 class="card-title">Advanced java</h5>
    </div>
  </div>
  <div class="card">
    <img src="{%static 'images\code8.png'%}" class="image8" alt="...">
    <div class="card-body">
      <h5 class="card-title">AWS</h5>
    </div>
  </div>
</div>
<button class="btn3"><a class="viewcourses" href="{%url 'view'%}" target="_blank" style="color:white;">view all courses</a></button>


  <!-- <==============================> -->
  	<div class="text1">
  		<p class="text-decoration-underline">Software Training Institute in Hyderabad</p>
  		<p class="para">With a great approach and practical training, our software training institute train you to be future-ready. Our classes are program oriented. You will get to trained from the industry experts and professionals.</p>
  	</div>
<!-- <===============================> -->
	<div class="container">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 border" style="background-color: lightgreen;">We train students from scratch making to easy to learn for them</div>
    </div>
    <div class="col-6">
      <div class="p-3 border " style="background-color: lightpink;" >Our sessions are hands-on from day one. You will be hand-coding every concept.</div>
    </div>
    <div class="col-6">
      <div class="p-3 border " style="background-color: wheat;">We emphasize extensive logic building with good coding practices.</div>
    </div>
    <div class="col-6">
      <div class="p-3 border" style="background-color: wheat;">Our trainers are experienced, industry and real-time subject knowledge experts.</div>
    </div>


  </div>
</div>

<div class="container">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 border"  style="background-color: lightpink;">The course is designed by experts enabling even raw fresher to be industry ready</div>
    </div>
    <div class="col-6">
      <div class="p-3 border " style="background-color: lightgreen;">We work as the center of education on our domains and provide quality training.</div>
    </div>
  </div>
</div>
<!-- <===========================> -->
	<div class="btns">
        <h3 class="heading"><a class="register" href="{%url 'register'%}" style="color:white;">Register now</a></h3>
		<li class="heading1">Fill the form below, and we will contact you in 24 hours</li>
      <button class="btn btn-primary" type="button"style="margin-top:90px; margin-left: 90px;">
        <a class="name" href="name.html" target="_blank" style="color:white;">Name</a></button>

      <button class="btn btn-primary" type="button"style="margin-top:90px;margin-left: 90px;">
      <a class="mobile" href="mobile.html" target="_blank" style="color:white;">Mobile no</a></button>


      <button class="btn btn-primary" type="button"style="margin-top:90px;margin-left: 90px;">
      <a class="course" href="course.html" target="_blank" style="color:white;" >Course</a></button>


      <button class="btn btn-primary" type="button"style="margin-top:90px;margin-left: 90px;">
      <a class="email" href="email.html" target="_blank" style="color:white;">Email</a></button>


      <button class="btn btn-primary" type="button"style="margin-top:90px;margin-left: 90px;">
      <a class="callback" href="callback.html" target="_blank" style="color:white;">Get a call back</a></button>


</div><br>

<!-- <==================================> -->
	<footer>
		<ul>
		<li>Details</li>
		<li>
			<li><a href="#">about</a></li>
			<li><a href="#">all courses</a></li>
		  <li><a href="#">placed courses</a></li>
			<li><a href="#">privacy policy</a></li>
		</li>
	</ul>
	<ul>
		<li>Courses</li>
		<li>
		<li><a href="#">C lang</a></li>
			<li><a href="#">C ++</a></li>
			<li><a href="#">java</a></li>
			<li><a href="#">advanced java</a></li>
			<li><a href="#">data science</a></li>
		</li>
	</ul>
	<ul>
		<li>Contact</li>

		<li><a href="">cont:8790120219</a></li>
		<li><a href="">Dilsuknagar,hyd</a></li>
		<li><a href="">prsoftwares@gmail.com</a></li>
		<li><a href="">www.prsoftware.com</a></li>
	</ul>

</footer><br><br>

</div>
  </body>
</html>
